


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Spring Travel: Spring MVC and Web Flow Reference Application</title>
	<link type="text/css" rel="stylesheet" href="/travel/resources/javascript/dijit/themes/tundra/tundra.css" />
	<link rel="stylesheet" href="/travel/resources/styles/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/travel/resources/styles/blueprint/print.css" type="text/css" media="print" />
	<!--[if lt IE 8]>
	        <link rel="stylesheet" href="/travel/resources/blueprint/ie.css" type="text/css" media="screen, projection" />
	<![endif]-->
	<link rel="stylesheet" href="/travel/resources/styles/travel.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/travel/resources/javascript/dojo/dojo.js"></script>
    <script type="text/javascript" src="/travel/resources/javascript/spring/Spring.js"></script>
    <script type="text/javascript" src="/travel/resources/javascript/spring/Spring-Dojo.js"></script>
</head>
<body class="tundra">
<div id="page" class="container">
	<div id="header">
		<div id="topbar">
			<p>
				
				
					<a href="/travel/users/login">Login</a>
				
			</p>
		</div>
		<div id="logo">
			<p>
				<a href="/travel/">
					<img src="/travel/resources/images/header.jpg" alt="Spring Travel" />
				</a>
			</p>
		</div>
	</div>
	<div id="content">
		<div id="local" class="span-6">
			<p>
				<a href="http://www.thespringexperience.com">
					<img src="/travel/resources/images/diplomat.jpg" alt="generic hotel" />
				</a>
			</p>
			<p>
				<a href="http://www.thespringexperience.com">
					<img src="/travel/resources/images/springone2gx.jpeg" alt="SpringOne 2GX" />
				</a>
			</p>
		</div>
		<div id="main" class="span-18 last">
			



<h1>Hotel Results</h1>
<p>
	<a id="changeSearchLink" href="hotels/search?searchString=a&pageSize=5">Change Search</a>
	<script type="text/javascript">
		Spring.addDecoration(new Spring.AjaxEventDecoration({
			elementId: "changeSearchLink",
			event: "onclick",
			popup: true,
			params: {fragments: "searchForm"}		
		}));
	</script>
</p>
<div id="hotelResults">

	<table class="summary">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>City, State</th>
				<th>Zip</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td>Westin Diplomat</td>
					<td>3555 S. Ocean Drive</td>
					<td>Hollywood, FL, USA</td>
					<td>33019</td>
					<td><a href="hotels/1">View Hotel</a></td>
				</tr>
			
				<tr>
					<td>Jameson Inn</td>
					<td>890 Palm Bay Rd NE</td>
					<td>Palm Bay, FL, USA</td>
					<td>32905</td>
					<td><a href="hotels/2">View Hotel</a></td>
				</tr>
			
				<tr>
					<td>Chilworth Manor</td>
					<td>The Cottage, Southampton Business Park</td>
					<td>Southampton, Hants, UK</td>
					<td>SO16 7JF</td>
					<td><a href="hotels/3">View Hotel</a></td>
				</tr>
			
				<tr>
					<td>Marriott Courtyard</td>
					<td>Tower Place, Buckhead</td>
					<td>Atlanta, GA, USA</td>
					<td>30305</td>
					<td><a href="hotels/4">View Hotel</a></td>
				</tr>
			
				<tr>
					<td>Doubletree</td>
					<td>Tower Place, Buckhead</td>
					<td>Atlanta, GA, USA</td>
					<td>30305</td>
					<td><a href="hotels/5">View Hotel</a></td>
				</tr>
			
			
		</tbody>
	</table>
	<div class="buttonGroup">
		<div class="span-3">
			
		</div>
		<div class="span-3 append-12 last">
			
				<a id="moreResultsLink" href="hotels?searchString=a&pageSize=5&page=1">More Results</a>
				<script type="text/javascript">
					Spring.addDecoration(new Spring.AjaxEventDecoration({
						elementId: "moreResultsLink",
						event: "onclick",
						params: {fragments: "body"}		
					}));
				</script>
					
		</div>
	</div>

</div>	


		</div>
	</div>
	<hr />
	<div id="footer">
		<a href="http://www.springframework.org">
			<img src="/travel/resources/images/powered-by-spring.png" alt="Powered by Spring" />
		</a>
	</div>
</div>
</body>
</html>